In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
DATA_FILE = os.path.join('../data', 'train_features.csv')

In [3]:
data = pd.read_csv(DATA_FILE)

In [4]:
data.head()

,id,vendor_id,passenger_count,trip_duration,pickup_hr,pickup_min,pickup_sec,pickup_day,pickup_date,pickup_mon,...,dropoff_day,dropoff_date,dropoff_mon,dropoff_yr,st_dist,s_pickup_latitude,s_pickup_longitude,s_dropoff_latitude,s_dropoff_longitude,flag
0,id2875421,2,1,455,17,24,55,0,14,3,...,0,14,3,2016,0.017680,0.365738,0.791302,0.731222,0.791591,0
1,id2377394,1,1,663,0,43,35,6,12,6,...,6,12,6,2016,0.020456,0.364062,0.791331,0.728287,0.791016,0
2,id3858529,2,1,2124,11,35,24,1,19,1,...,1,19,1,2016,0.059934,0.365510,0.791354,0.726493,0.790920,0
3,id3504673,2,1,429,19,32,31,2,6,4,...,2,6,4,2016,0.013438,0.363001,0.790842,0.726206,0.790805,0
4,id2181028,2,1,435,13,30,55,5,26,3,...,5,26,3,2016,0.010690,0.367181,0.791452,0.732663,0.791454,0

In [5]:
features = data[['vendor_id', 'passenger_count', 'pickup_hr', 'pickup_min', 'pickup_sec',
       'pickup_day', 'pickup_date', 'pickup_mon', 'pickup_yr',
       'dropoff_hr', 'dropoff_min', 'dropoff_sec', 'dropoff_day',
       'dropoff_date', 'dropoff_mon', 'dropoff_yr', 'st_dist',
       's_pickup_latitude', 's_pickup_longitude', 's_dropoff_latitude',
       's_dropoff_longitude', 'flag']]

In [6]:
target = data['trip_duration']

In [7]:
from sklearn.ensemble import RandomForestRegressor